<!-- Main Header Groups -->

<div class="main-header" style="height: -webkit-fill-available;">
	<div class="content-bg-wrap bg-group"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Sınıf Paylaşım Uygulamasına Hoşgeldiniz</h1>
					<p>Burası hocalarımızın oluşturacağı gruplara katılıp hocalarımızın istedikleri zaman duyuru yapabileceği bir 
            bilgi paylaşım platformdur. Hocalarımız istedikleri zaman öğrencilere yorumları açabilirler.
          </p>
				</div>
			</div>
		</div>
  </div>
  <div class="ui-block" style="text-align: center;    margin-top: 50px;
  margin-bottom: 50px;">
    <button class="btn btn-md-2 btn-primary" style="    width: -webkit-fill-available;
    margin-right: 15px;
    margin-left: 15px;" (click)="goLogin()" >Başla<div class="ripple-container" ></div></button>
  </div>

	<img class="img-bottom" src="../../../assets/as2/img/group-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Groups -->